
<p id="notice"><%= notice %></p>

<h1>Mobile-first C2C Marketplaces</h1>

<!-- start rank html -->


<div class="rank_by_name">
  Filter by Name
  <div>
    <%= select_tag :name, options_for_select(Company.uniq.pluck(:name)) do %>
      <% @companies.each do |company| %>
          <%= company.name %>
      <%end%>
    <% end %>
  </div>  
</div>

<div class="rank_by_geography">
  Filter by Geography
  <div id="tag_geography"> 
    <%= select_tag :geography, options_for_select(Company.uniq.pluck(:geography)) do %>
      <% @companies.each do |company| %>
          <%= company.geography %>
      <%end%>
    <% end %>

  </div>  
</div>

<div class="rank_by_hyperlocal">
  Filter by Hyperlocal  
  <div id="tag_hyperlocal">
    <%= select_tag :hyperlocal, options_for_select(Company.uniq.pluck(:hyperlocal)) do %>
      <% @companies.each do |company| %>
          <%= company.hyperlocal %>
        <%end%>
      <% end %>
  </div>  
</div>


<div class="rank_by_commission">
  Filter by Commission
  <div>
    <%= select_tag :commission, options_for_select(Company.uniq.pluck(:commission)) do %>
      <% @companies.each do |company| %>
       <%= company.commission %>
      <%end%>
    <% end %>
  </div>  
</div>


<div class="rank_by_category">
  Filter by Category
  <div>
    <%= select_tag :category, options_for_select(Company.uniq.pluck(:category)) do %>
      <% @companies.each do |company| %>
          <%= company.category%>
      <%end%>
    <% end %>
  </div>  
</div>

<div class="rank_by_delivery">
  Filter by Category
  <div>
    <%= select_tag :delivery, options_for_select(Company.uniq.pluck(:delivery)) do %>
      <% @companies.each do |company| %>
          <%= company.delivery%>
      <%end%>
    <% end %>
  </div>  
</div>

<br>


<form>
<input id="refresh_button" TYPE="button" onClick="history.go(0)" VALUE="Refresh Filters">
</form>


<br>
<br>
<br>



<!-- end rank html -->

<!-- start database html -->


<div class="flex-table">
 
  <div class="database_table_body">
    <% @companies.each do |company| %>
     <%= div_for company, :class => "large_rowBox" do %>
      <div id="database_body">
        <div class="database_table_image">
          <%= image_tag(company.logo_url, width:90, height:70) %>
        </div>
           <%= div_for company, :class => "rowBox" do %>
        <div class="database_global"> 
          <div class="database_title">
              Name:
          </div>  
          <div id="name" class="database_input" data-name="<%= company.name %>">
              <%= company.name %>
          </div>
        </div>
        <div class="database_global"> 
          <div class="database_title">
            Geography:
          </div> 
          <div id="geography" class="database_input" data-geography="<%= company.geography %>">
            <%= company.geography %>
          </div>
        </div>
        <div class="database_global"> 
          <div class="database_title">
            Hyperlocal:
          </div>
          <div id="hyperlocal" class="database_input" data-hyperlocal="<%= company.hyperlocal %>"> 
            <%= company.hyperlocal %>
          </div>
        </div>
        <div class="database_global"> 
          <div class="database_title">
            Commission:
          </div> 
          <div id="commission" class="database_input" data-commission="<%= company.commission %>">
            <%= company.commission %>
          </div>
        </div>
        <div class="database_global"> 
          <div class="database_title">
            Category:
          </div>
          <div id="category" class="database_input" data-category="<%= company.category %>">
          <%= company.category %>
          </div>
        </div>
        <div class="database_global">
          <div class="database_title">
            Delivery:
          </div>
          <div id="delivery" class="database_input" data-delivery="<%= company.delivery %>">
            <%= company.delivery %>
          </div>
        </div>
        <div class="modify_container">
          <div class="modify">         

            <%= link_to 'Show', company %>
          </div>
          <div class="modify">

            <%= link_to 'Edit', edit_company_path(company) %></div>
          <div class="modify">
            <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div> 
        </div>
      </div>
      <% end %>
      <% end %>
    <% end %>
  </div>

</div>

<!-- end database layout -->

<br>


<%= link_to 'New Company', new_company_path %>







